<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Serientitel</th>
      <th>
        &nbsp;
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let show of shows">
      <tr *ngIf="!toEdit(show)">
        <td>{{ show.id }}</td>
        <td>{{ show.title }}</td>
        <td><button (click)="edit(show)">

            <div class="d-flex justify-content-center">
              Editieren
              <span class="material-icons">
                edit
              </span>
            </div>
          </button>
        </td>
        <td>
          <button (click)="delete(show)">
            <div class="d-flex justify-content-center">

              Löschen
              <span class="material-icons">
                delete
              </span>
            </div>
          </button>
        </td>
      </tr>
      <tr *ngIf="toEdit(show)">
        <td>
          <input type="text" [(ngModel)]="show.id" />
        </td>
        <td><input type="text" [(ngModel)]="show.title" />
        </td>
        <td colspan="2">
          <div class="d-flex justify-content-center">
            <button (click)="saveEdit()">
              <span class="material-icons">save</span>
            </button>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>